html {
  height: 100%;
}

body {
  font-family: monospace;
  font-size: 16px;
  display: grid;
  height: 100%;
  place-content: center;
  margin: 0;
  background: rgb(252, 252, 252);
}

kbd {
  border: 1px solid;
  border-radius: 3px;
  padding: 3px 6px;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px rgb(0, 0, 0);
}

instructions {
  display: grid;
  gap: 16px;
  justify-items: end;
}

::selection {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
